In [2]:
import pandas as pd

In [6]:
df_orig = pd.read_csv('Initial Attribute Definition for First Release - UPDATED SHEET .csv')

In [16]:
df_orig.columns

Index(['category', 'category_id', 'attribute_field', 'attribute_id',
       'category_attributevalue', 'attribute_attributevalue', 'description',
       'max_multi_select', 'level', 'datatype', 'datatype format',
       'enabled_for_variation', 'usage', 'entry mode', 'Unnamed: 14',
       'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18',
       'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22',
       'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'uniq_key'],
      dtype='object')

In [11]:
df_orig[df_orig.columns[:14]].head(2)

,category,category_id,attribute_field,attribute_id,category_attributevalue,attribute_attributevalue,description,max_multi_select,level,datatype,datatype format,enabled_for_variation,usage,entry mode
0,Apparel Accessories > Boys' Accessories > Boys...,4,Age Range Description,NaN,"['Adult', 'All Ages', 'Infant', 'Kids', 'Teen'...","['Adult', 'All Ages', 'Infant', 'Kids', 'Teen'...",Specifies an appropriate age range description...,NaN,product,string,unspecified,False,required,single_selection_only
1,Apparel Accessories > Boys' Accessories > Boys...,4,Alpha Size,3346.0,"['10XL', '2XL', '2XS', '3XL', '4XL', '5XL', '6...","['10XL', '2XL', '2XS', '3XL', '4XL', '5XL', '6...",Specification of item size on an alpha-numeric...,NaN,variant,string,unspecified,True,required,single_selection_only

In [12]:
df_orig['uniq_key'] = df_orig['category'] + df_orig['attribute_field']

In [13]:
assert len(df_orig) == len(set(df_orig['uniq_key']))

In [4]:
df = pd.read_csv('attribute_definition_top25L2_filtered_augmented_01162023.csv')

In [14]:
df['uniq_key'] = df['category'] + df['attribute_field']

In [17]:
len(df)

12394

In [18]:
df = df.merge(df_orig[['uniq_key', 'entry mode', 'max_multi_select']], on='uniq_key', how='inner')

In [19]:
len(df)

12394

In [21]:
set(df['entry mode'])

{'free_text', 'multi_selection_only', 'single_selection_only'}

In [23]:
df[(df['augment'].apply(lambda x: not x)) & (df['entry mode'].apply(lambda x: x == 'free_text'))]

Empty DataFrame
Columns: [category, attribute_field, category_attributevalue, description, augment, usage, L2, uniq_key, entry mode, max_multi_select]
Index: []

In [28]:
df[df.augment].sample(10)

,category,attribute_field,category_attributevalue,description,augment,usage,L2,uniq_key,entry mode,max_multi_select
3901,Home & Garden > Home Textile > Pillows > Trave...,Brand Name,"['AirComfy', 'Bucky', 'Cabeau', 'Cocoon', 'Eco...",Specifies the brand or manufacturer of the pro...,True,optional,Home & Garden > Home Textile,Home & Garden > Home Textile > Pillows > Trave...,free_text,NaN
11035,Shoes > Women's Shoes > Boat Shoes,Brand Name,"['Adidas', 'Asics', 'Birkenstock', 'Clarks', '...",Specifies the brand or manufacturer of the pro...,True,optional,Shoes > Women's Shoes,Shoes > Women's Shoes > Boat ShoesBrand Name,free_text,NaN
1619,Home & Garden > Festive & Party Supplies > Chr...,Number of Items,"['1', '2', '3', '4', '5', '6', '7', '8', '9', ...","Specifies the number of items, or quantity, in...",True,optional,Home & Garden > Festive & Party Supplies,Home & Garden > Festive & Party Supplies > Chr...,free_text,NaN
1301,"Home & Garden > Arts, Crafts & Sewing > Scrapb...",Brand Name,"['American Crafts', 'Bazzill Basics', 'Crate P...",Specifies the brand or manufacturer of the pro...,True,optional,"Home & Garden > Arts, Crafts & Sewing","Home & Garden > Arts, Crafts & Sewing > Scrapb...",free_text,NaN
2237,"Home & Garden > Home Decor > Blinds, Shades & ...",Format Type,"['Cordless', 'Corded', 'Motorized', 'Manual']",Specifies the format or support format of the ...,True,optional,Home & Garden > Home Decor,"Home & Garden > Home Decor > Blinds, Shades & ...",free_text,NaN
2888,Home & Garden > Home Decor > Ornaments > Decor...,Number of Items,"['1', '2', '3', '4', '5', '6', '7', '8', '9', ...","Specifies the number of items, or quantity, in...",True,optional,Home & Garden > Home Decor,Home & Garden > Home Decor > Ornaments > Decor...,free_text,NaN
4483,"Home & Garden > Kitchen,Dining & Bar > Bakewar...",Brand Name,"['Ateco', 'Chicago Metallic', 'Fox Run', 'Koot...",Specifies the brand or manufacturer of the pro...,True,optional,"Home & Garden > Kitchen,Dining & Bar","Home & Garden > Kitchen,Dining & Bar > Bakewar...",free_text,NaN
1182,"Home & Garden > Arts, Crafts & Sewing > Paint-...",Brand Name,"['Apple Barrel', 'Craft Smart', 'Delta Creativ...",Specifies the brand or manufacturer of the pro...,True,optional,"Home & Garden > Arts, Crafts & Sewing","Home & Garden > Arts, Crafts & Sewing > Paint-...",free_text,NaN
2183,Home & Garden > Garden Supplies > Watering & I...,Brand Name,"['Aqua Systems', 'Gardena', 'Haws', 'Kärcher',...",Specifies the brand or manufacturer of the pro...,True,optional,Home & Garden > Garden Supplies,Home & Garden > Garden Supplies > Watering & I...,free_text,NaN
5196,"Home & Garden > Kitchen,Dining & Bar > Cookwar...",Brand Name,"['Aroma Housewares', 'Calphalon', 'Cuisinart',...",Specifies the brand or manufacturer of the pro...,True,optional,"Home & Garden > Kitchen,Dining & Bar","Home & Garden > Kitchen,Dining & Bar > Cookwar...",free_text,NaN

In [31]:
df.loc[df.augment, "max_multi_select"].isna().all()

True

In [34]:
df.loc[df.augment, "entry mode"] = 'single_selection_only'

In [36]:
set(df['entry mode'])

{'multi_selection_only', 'single_selection_only'}

In [38]:
del df['uniq_key']
del df['usage']
del df['augment']

In [40]:
len(set(df['L2']))

25

In [42]:
df.to_csv('attribute_definition_top25L2_filtered_augmented_redacted_addedsinglemulti_01182023.csv', index=False)