In [10]:
import pandas as pd
import dvc.api

In [2]:
df_train = pd.read_json('Human_Labelled_Query_Classification_Train.json', lines=True)
df_val = pd.read_json('Human_Labelled_Query_Classification_Val.json', lines=True)
df_test = pd.read_json('Human_Labelled_Query_Classification_Test.json', lines=True)

In [3]:
len(df_train), len(df_val), len(df_test)

(90947, 8788, 7941)

In [4]:
len(set(df_train['query'])), len(set(df_val['query'])), len(set(df_test['query']))

(60420, 5000, 4300)

In [5]:
df_real_test = pd.read_json('../processed/Offshore_Labelled_Query_Classification_Test_V2.json', lines=True)

In [6]:
len(df_real_test), len(set(df_real_test['query']))

(13448, 13448)

In [7]:
len(set(df_real_test['query']).intersection(df_train['query'])), len(set(df_real_test['query']).intersection(df_val['query']))

(0, 0)

In [8]:
len(set(df_real_test['query']).intersection(df_test['query']))

4300

In [12]:
df_tax = pd.read_json(
    dvc.api.get_url(
        'datasets/data/taxonomy/wish_newtax.json',
        repo='git@github.com:ContextLogic/multitask-llm-rnd.git'
    ), lines=True
)

In [17]:
paths = set(df_tax[df_tax.category_path.apply(len) > 0]['category_path'].apply(lambda x: x.lower().strip()))

In [21]:
df_train[df_train.category.apply(lambda x: x not in paths)]

                        query category
161            asas de bolsos  unknown
189              eboy outfits  unknown
232                       コット  unknown
291                kia optima  unknown
327              hacker tools  unknown
...                       ...      ...
90671                      ge  unknown
90698                     007  unknown
90799                    anek  unknown
90924  fuck it just get naked  unknown
90942                    race  unknown

[1662 rows x 2 columns]

In [22]:
df_val[df_val.category.apply(lambda x: x not in paths)]

                 query category
106               frau  unknown
153      avril lavigne  unknown
174   cheech and chong  unknown
214          kolobezka  unknown
321             1/2 28  unknown
...                ...      ...
8624             tenes  unknown
8632              pope  unknown
8699   wheres my order  unknown
8763           atacado  unknown
8787   regenwassertank  unknown

[133 rows x 2 columns]

In [23]:
df_test[df_test.category.apply(lambda x: x not in paths)]

                           query category
102                        biere  unknown
207                 walter white  unknown
237                           r4  unknown
268                      depilya  unknown
288          quantidade limitada  unknown
...                          ...      ...
7517                    tabletas  unknown
7593          h2o just add water  unknown
7660                  clear mask  unknown
7661  cajero automatico personal  unknown
7858                        port  unknown

[227 rows x 2 columns]

In [24]:
set(df_train[df_train.category.apply(lambda x: x not in paths)]['category']), \
    set(df_val[df_val.category.apply(lambda x: x not in paths)]['category']), \
    set(df_test[df_test.category.apply(lambda x: x not in paths)]['category'])

({'unknown'}, {'unknown'}, {'unknown'})

In [26]:
df_train = df_train.groupby('query').agg({'category': lambda x: '\n'.join([i for i in x])}).reset_index()
df_val = df_val.groupby('query').agg({'category': lambda x: '\n'.join([i for i in x])}).reset_index()
df_test = df_test.groupby('query').agg({'category': lambda x: '\n'.join([i for i in x])}).reset_index()

In [28]:
!ls

Human_Labelled_Query_Classification_Test.json
Human_Labelled_Query_Classification_Test.json.dvc
Human_Labelled_Query_Classification_Train.json
Human_Labelled_Query_Classification_Train.json.dvc
Human_Labelled_Query_Classification_Val.json
Human_Labelled_Query_Classification_Val.json.dvc
convert_format_multilabel_seqclf.ipynb

In [29]:
df_train.to_json('Human_Labelled_Query_Classification_Train_processed_multilabel_seqclf.json', lines=True, orient='records')
df_val.to_json('Human_Labelled_Query_Classification_Val_processed_multilabel_seqclf.json', lines=True, orient='records')
df_test.to_json('Human_Labelled_Query_Classification_Test_processed_multilabel_seqclf.json', lines=True, orient='records')