In [2]:
from tahoe import execute_async
import pandas as pd

In [6]:
dfs = pd.read_excel('top_searched_queries_stats.xlsx', sheet_name=None)

In [14]:
df_top = dfs['1000 top searched normalized qu']
df_top.columns = df_top.iloc[0]
df_top = df_top.drop(df_top.index[0])
df_top['query'] = df_top['normalized_query']

In [36]:
df_mid = dfs['1000 Torso searched normalized ']
df_mid.columns = df_mid.iloc[0]
df_mid = df_mid.drop(df_mid.index[0])
df_mid['query'] = df_mid['normalized_query']

df_tail = dfs['1000 tail searched normalized q']
df_tail.columns = df_tail.iloc[0]
df_tail = df_tail.drop(df_tail.index[0])
df_tail['query'] = df_tail['normalized_query']

In [3]:
q = f"select query, norm, categories, category_names, weights from search.query_new_category_inference_20230307"
res = execute_async(q)

In [18]:
df_v0 = pd.DataFrame(res, columns=['query', 'norm', 'categories', 'category_names', 'weights'])

In [27]:
len(df_v0)

1479410

In [23]:
df_top_merge = df_top.merge(df_v0.rename(columns={'norm': 'v0_norm', 'categories': 'v0_categories', 'category_names': 'v0_category_names', 
    'weights': 'v0_weights'
}), on='query', how='left')

In [37]:
df_mid_merge = df_mid.merge(df_v0.rename(columns={'norm': 'v0_norm', 'categories': 'v0_categories', 'category_names': 'v0_category_names', 
    'weights': 'v0_weights'
}), on='query', how='left')

df_tail_merge = df_tail.merge(df_v0.rename(columns={'norm': 'v0_norm', 'categories': 'v0_categories', 'category_names': 'v0_category_names', 
    'weights': 'v0_weights'
}), on='query', how='left')

In [24]:
q = f"select query, categories, category_names, weights from structured_data.query_top3_predictions where model_version = 2"
res = execute_async(q)

In [25]:
df_v2 = pd.DataFrame(res, columns=['query', 'categories', 'category_names', 'weights'])

In [26]:
len(df_v2)

6627925

In [28]:
df_top_merge = df_top_merge.merge(df_v2.rename(columns={'categories': 'v2_categories', 'category_names': 'v2_category_names', 
    'weights': 'v2_weights'
}), on='query', how='left')

In [38]:
df_mid_merge = df_mid_merge.merge(df_v2.rename(columns={'categories': 'v2_categories', 'category_names': 'v2_category_names', 
    'weights': 'v2_weights'
}), on='query', how='left')

df_tail_merge = df_tail_merge.merge(df_v2.rename(columns={'categories': 'v2_categories', 'category_names': 'v2_category_names', 
    'weights': 'v2_weights'
}), on='query', how='left')

In [39]:
df_top_merge

,normalized_query,impression_cnt,clicks_cnt,a2c_cnt,orders_cnt,gmv_sum,%impression,%clicks,%a2c,%orders,...,gmv / impression,% unique searches,query,v0_norm,v0_categories,v0_category_names,v0_weights,v2_categories,v2_category_names,v2_weights
0,iphone,4565885.0,78503.0,17291.0,5123.0,32920.039593,0.004178,0.004591,0.007433,0.01107,...,0.00721,0.004919,iphone,132.336692,"1316,1263,1244,1279,1245","iPhones,Mobile Phone Cables,Cellphones & Telec...","0.937533264928,0.725422395594,0.653580426014,0...","1316,1255,1752","iPhones,Mobile Phone Accessories,Smart Watches","0.936233818531036,0.011115619912743001,0.00947..."
1,fashion,5342214.0,40271.0,7058.0,996.0,10638.229131,0.004889,0.002355,0.003034,0.002152,...,0.001991,0.004317,fashion,173.586520,"6025,6023,4211,6049","Tees,Women's Clothing,T-Shirts,Blouses & Shirts","1.31314866601,0.94318910475,0.349207854455,0.2...","6023,4166,6025","Women's Clothing,Men's Clothing,Tees","0.65596866607666,0.104740798473358,0.030966414..."
2,toys,4253383.0,44093.0,4432.0,588.0,6337.867355,0.003892,0.002579,0.001905,0.001271,...,0.00149,0.004074,toys,74.186791,"5706,5815,5811,5904","Toys & Hobbies,Bubbles,Light-Up Toys,Movies & TV","1.40768622374,0.558554357691,0.31002823554,0.2...","5718,5725,5706","Baby & Toddler Toys,Hand Puppets & Soothing Do...","0.178797304630279,0.11924485862255,0.115888185..."
3,car,3836989.0,61067.0,7312.0,1439.0,14947.764553,0.003511,0.003571,0.003143,0.00311,...,0.003896,0.003552,car,135.700553,"105,524,675","Automobiles & Motorcycles,Decorative Lamps,Int...","1.33620008058,0.821954659914,0.550810083494","4785,4385,4753","Women's Sandals,Sandals,Men's Sandals","0.77305918931961,0.094563484191894,0.023152545..."
4,samsung,3512368.0,81350.0,13128.0,3687.0,26890.122458,0.003214,0.004758,0.005644,0.007967,...,0.007656,0.003537,samsung,20.004000,"1313,1244,1279,1284,1245","Refurbished Phones,Cellphones & Telecommunicat...","0.910133173574,0.756332138718,0.399920023992,0...","1245,1255,1273","Cellphones,Mobile Phone Accessories,Phone Case...","0.7801966667175291,0.07566496729850701,0.03136..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
996,foot,125709.0,2001.0,350.0,114.0,668.775459,0.000115,0.000117,0.00015,0.000246,...,0.00532,0.000143,foot,5.538953,"1214,840,954,1073","Foot Care Tools,Beauty & Health,Massage Cushio...","1.19127462278,0.773046836213,0.421436471058,0....","984,974,5266","Foot Care Tools,Personal Health Care,Ankle Sup...","0.622687995433807,0.050714444369077,0.04871700..."
997,dvd,181709.0,2763.0,230.0,18.0,484.841724,0.000166,0.000162,0.000099,0.000039,...,0.002668,0.000143,dvd,11.901260,"1649,1776,1331,1495","DVD & VCD Players,Games,Optical Drives,Consume...","1.33001017225,0.979152776692,0.504148281733,0....","1649,1776,1769","DVD & VCD Player,Game Deals,Video Games","0.8548285961151121,0.050658915191888004,0.0289..."
998,net,119443.0,2040.0,305.0,84.0,854.376868,0.000109,0.000119,0.000131,0.000182,...,0.007153,0.000143,net,9.286549,"2231,2615,5013","Hammocks,Garden Netting,Fishing Nets","1.09927140519,0.99694565364,0.789437286054","2615,5013,2780","Garden Netting,Fishing Net,Mosquito Nets","0.29615008831024103,0.27796441316604603,0.0926..."
999,carburetor,161982.0,2799.0,226.0,63.0,1367.134153,0.000148,0.000164,0.000097,0.000136,...,0.00844,0.000143,carburetor,25.899035,"768,326,105","Carburetors,Carburetors,Automobiles & Motorcycles","1.35020472365,1.15684716273,0.560713992838","326,768,5482","Carburetors,Carburetor,Chainsaws","0.509076654911041,0.129989698529243,0.07628259..."
1000,NaN,467759824,7087117,996873,184406,1735451.793,0.428052,0.414473,0.428542,0.398482,...,0.00371,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
df_mid_merge

,normalized_query,impression_cnt,clicks_cnt,a2c_cnt,orders_cnt,gmv_sum,%impression,%clicks,%a2c,%orders,...,gmv / impression,% unique searches,query,v0_norm,v0_categories,v0_category_names,v0_weights,v2_categories,v2_category_names,v2_weights
0,jacket nike,783.0,15.0,1.0,0.0,0.0,0.000001,0.000001,0.0,0.0,...,0,0.000001,jacket nike,NaN,NaN,NaN,NaN,"6044,4174,6079","Jackets,Jackets,Jackets","0.39484405517578103,0.24849241971969602,0.1236..."
1,pots gardening,707.0,16.0,6.0,0.0,0.0,0.000001,0.000001,0.000003,0.0,...,0,0.0,pots gardening,NaN,NaN,NaN,NaN,"2587,2585,2537","Flower Pots & Planters,Garden Pots & Planters,...","0.79537034034729,0.166129812598228,0.013488744..."
2,leather pig,678.0,6.0,0.0,0.0,0.0,0.000001,0.0,0.0,0.0,...,0,0.0,leather pig,NaN,NaN,NaN,NaN,"5913,5901,2337","Stuffed & Plush Animals,Stuffed Animals & Plus...","0.36995497345924305,0.080252081155776,0.048774..."
3,man boot boot man,198.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0.0,man boot boot man,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5atm smartewatch,35.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0.0,5atm smartewatch,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,filter jug,198.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0.0,filter jug,NaN,NaN,NaN,NaN,"3744,2986,3123","Water Filter Parts,Coffee Cups & Mugs,Beer Bre...","0.38321816921234103,0.192411229014396,0.053734..."
996,fleece blanket hair,272.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0.0,fleece blanket hair,NaN,NaN,NaN,NaN,NaN,NaN,NaN
997,ducati sticker,1730.0,19.0,3.0,1.0,8.430204,0.000002,0.000001,0.000001,0.000002,...,0.004873,0.000002,ducati sticker,2.116601,"775,773,718","Decals & Stickers,Motorbike Accessories,Motorc...","1.88982236505,0.37796447301,0.37796447301","775,718,5765","Decals & Stickers,Motorcycle Accessories & Par...","0.9468968510627741,0.015962673351168,0.0096601..."
998,eyes eyelash peluche,40.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0.0,eyes eyelash peluche,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999,mens tights with pockets,340.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0.0,mens tights with pockets,1.039230,"4188,4181,4166","Leggings,Pants,Men's Clothing","1.9245008973,0.38490017946,0.38490017946","4188,4181,4602","Leggings,Pants,Socks & Hosiery","0.768828094005584,0.076323114335536,0.03460060..."

In [41]:
df_tail_merge

,normalized_query,impression_cnt,clicks_cnt,a2c_cnt,orders_cnt,gmv_sum,%impression,%clicks,%a2c,%orders,...,gmv / impression,% unique searches,query,v0_norm,v0_categories,v0_category_names,v0_weights,v2_categories,v2_category_names,v2_weights
0,NaN,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,# 1 dark curcles,62.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0.0,# 1 dark curcles,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,# 8,55.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0.0,# 8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,# cpu#,46.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0.0,# cpu#,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,#0pp0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0.0,#0pp0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1 3 dollar items,112.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0.0,1 3 dollar items,NaN,NaN,NaN,NaN,NaN,NaN,NaN
996,1 30 model figures,128.0,1.0,1.0,1.0,5.625882,0.0,0.0,0.0,0.000002,...,0.043952,0.0,1 30 model figures,NaN,NaN,NaN,NaN,NaN,NaN,NaN
997,1 32 bodyshell,22.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0.0,1 32 bodyshell,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,1 32 fiat punto,56.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0.0,1 32 fiat punto,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999,1 32 jet plane,26.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0.0,1 32 jet plane,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
df_top_merge['query_type'] = 'head'
df_mid_merge['query_type'] = 'torso'
df_tail_merge['query_type'] = 'tail'
df_all_merge = pd.concat([df_top_merge, df_mid_merge, df_tail_merge])

In [43]:
df_all_merge.to_csv('top_searched_queries_stats_with_v0v2.csv', index=False)