In [1]:
import pandas as pd

In [3]:
df = pd.read_excel('../../data/taxonomy/Wish_Taxonomy-Wish_Category_Tree.xlsx')

In [4]:
df

,ID,CATEGORY NAME,LEVEL,CATEGORY PATH,IS LEAF?,PARENT ID,ANCESTOR ID
0,2.0,Apparel Accessories,1.0,Apparel Accessories,False,1.0,2.0
1,3.0,Boys' Accessories,2.0,Apparel Accessories > Boys' Accessories,False,2.0,2.0
2,4.0,Boys' Belts,3.0,Apparel Accessories > Boys' Accessories > Boys...,True,3.0,2.0
3,5.0,Boys' Glasses,3.0,Apparel Accessories > Boys' Accessories > Boys...,False,3.0,2.0
4,6.0,Boys' Blue Light Blocking Glasses,4.0,Apparel Accessories > Boys' Accessories > Boys...,True,5.0,2.0
...,...,...,...,...,...,...,...
6032,4608.0,Lingerie Sets,3.0,Women's Clothing > Women's Exotic Apparel > Li...,True,4604.0,6023.0
6033,4609.0,Panties,3.0,Women's Clothing > Women's Exotic Apparel > Pa...,True,4604.0,6023.0
6034,4610.0,Pants,3.0,Women's Clothing > Women's Exotic Apparel > Pants,True,4604.0,6023.0
6035,4611.0,Tanks,3.0,Women's Clothing > Women's Exotic Apparel > Tanks,True,4604.0,6023.0
6036,4612.0,Teddies & Bodysuits,3.0,Women's Clothing > Women's Exotic Apparel > Te...,True,4604.0,6023.0

In [5]:
df.LEVEL.max()

5.0

In [6]:
len(df)

6037