In [64]:
import pandas as pd
from collections import Counter
from sklearn.model_selection import train_test_split

In [5]:
df_examples = pd.read_parquet('../../data/amazon_query/shopping_queries_dataset_examples.parquet')
df_products = pd.read_parquet('../../data/amazon_query/shopping_queries_dataset_products.parquet')
df_sources = pd.read_csv("../../data/amazon_query/shopping_queries_dataset_sources.csv")

In [6]:
df_examples.head()

,example_id,query,query_id,product_id,product_locale,esci_label,small_version,large_version,split
0,0,revent 80 cfm,0,B000MOO21W,us,I,0,1,train
1,1,revent 80 cfm,0,B07X3Y6B1V,us,E,0,1,train
2,2,revent 80 cfm,0,B07WDM7MQQ,us,E,0,1,train
3,3,revent 80 cfm,0,B07RH6Z8KW,us,E,0,1,train
4,4,revent 80 cfm,0,B07QJ7WYFQ,us,E,0,1,train

In [7]:
df_products.head()

,product_id,product_title,product_description,product_bullet_point,product_brand,product_color,product_locale
0,B079VKKJN7,"11 Degrees de los Hombres Playera con Logo, Ne...",Esta playera con el logo de la marca Carrier d...,11 Degrees Negro Playera con logo\nA estrenar ...,11 Degrees,Negro,es
1,B079Y9VRKS,Camiseta Eleven Degrees Core TS White (M),None,None,11 Degrees,Blanco,es
2,B07DP4LM9H,11 Degrees de los Hombres Core Pull Over Hoodi...,La sudadera con capucha Core Pull Over de 11 G...,11 Degrees Azul Core Pull Over Hoodie\nA estre...,11 Degrees,Azul,es
3,B07G37B9HP,11 Degrees Poli Panel Track Pant XL Black,None,None,11 Degrees,None,es
4,B07LCTGDHY,11 Degrees Gorra Trucker Negro OSFA (Talla úni...,None,None,11 Degrees,Negro (,es

In [8]:
df_sources.head()

   query_id      source
0         0       other
1         1   negations
2         2   negations
3         3   negations
4         4  behavioral

In [9]:
df_examples_products = pd.merge(
    df_examples,
    df_products,
    how='left',
    left_on=['product_locale','product_id'],
    right_on=['product_locale', 'product_id']
)

In [10]:
df_task_1 = df_examples_products[df_examples_products["small_version"] == 1]
df_task_1_train = df_task_1[df_task_1["split"] == "train"]
df_task_1_test = df_task_1[df_task_1["split"] == "test"]

In [11]:
df_task_1_large = df_examples_products
df_task_1_train_large = df_task_1_large[df_task_1_large["split"] == "train"]
df_task_1_test_large = df_task_1_large[df_task_1_large["split"] == "test"]

In [12]:
len(df_task_1) / len(df_task_1_large)

0.42651208108380306

In [13]:
df_task_1.head()

,example_id,query,query_id,product_id,product_locale,esci_label,small_version,large_version,split,product_title,product_description,product_bullet_point,product_brand,product_color
16,16,!awnmower tires without rims,1,B075SCHMPY,us,I,1,1,train,"RamPro 10"" All Purpose Utility Air Tires/Wheel...","<b>About The Ram-Pro All Purpose Utility 10"" A...",✓ The Ram-Pro Ten Inch ready to install Air Ti...,RamPro,10 Inch
17,17,!awnmower tires without rims,1,B08L3B9B9P,us,E,1,1,train,MaxAuto 2-Pack 13x5.00-6 2PLY Turf Mower Tract...,MaxAuto 2-Pack 13x5.00-6 2PLY Turf Mower Tract...,Please check your existing tire Sidewall for t...,MaxAuto,None
18,18,!awnmower tires without rims,1,B082K7V2GZ,us,I,1,1,train,NEIKO 20601A 14.5 inch Steel Tire Spoon Lever ...,None,[QUALITY]: Hardened Steel-Iron construction wi...,Neiko,None
19,19,!awnmower tires without rims,1,B07P4CF3DP,us,S,1,1,train,2PK 13x5.00-6 13x5.00x6 13x5x6 13x5-6 2PLY Tur...,"Tire Size: 13 x 5.00 - 6 Axle: 3/4"" inside dia...",None,Russo,None
20,20,!awnmower tires without rims,1,B07C1WZG12,us,E,1,1,train,(Set of 2) 15x6.00-6 Husqvarna/Poulan Tire Whe...,No fuss. Just take off your old assembly and r...,Tire size:15x6.00-6 Ply: 4 Tubeless\n6x4.5 Whe...,Antego Tire & Wheel,Husqvarna Silver

In [14]:
df_task_1_large.head()

,example_id,query,query_id,product_id,product_locale,esci_label,small_version,large_version,split,product_title,product_description,product_bullet_point,product_brand,product_color
0,0,revent 80 cfm,0,B000MOO21W,us,I,0,1,train,Panasonic FV-20VQ3 WhisperCeiling 190 CFM Ceil...,None,WhisperCeiling fans feature a totally enclosed...,Panasonic,White
1,1,revent 80 cfm,0,B07X3Y6B1V,us,E,0,1,train,Homewerks 7141-80 Bathroom Fan Integrated LED ...,None,OUTSTANDING PERFORMANCE: This Homewerk's bath ...,Homewerks,80 CFM
2,2,revent 80 cfm,0,B07WDM7MQQ,us,E,0,1,train,Homewerks 7140-80 Bathroom Fan Ceiling Mount E...,None,OUTSTANDING PERFORMANCE: This Homewerk's bath ...,Homewerks,White
3,3,revent 80 cfm,0,B07RH6Z8KW,us,E,0,1,train,Delta Electronics RAD80L BreezRadiance 80 CFM ...,This pre-owned or refurbished product has been...,Quiet operation at 1.5 sones\nBuilt-in thermos...,DELTA ELECTRONICS (AMERICAS) LTD.,White
4,4,revent 80 cfm,0,B07QJ7WYFQ,us,E,0,1,train,Panasonic FV-08VRE2 Ventilation Fan with Reces...,None,The design solution for Fan/light combinations...,Panasonic,White

In [15]:
len(df_task_1_large)

2621288

In [16]:
len(set(df_task_1_large['query']))

130193

In [17]:
len(set(df_task_1_large['product_id']))

1802772

In [18]:
len(set(df_task_1_large['product_id'])) / len(set(df_task_1_large['query']))

13.846919573248945

In [19]:
df_amazon_train = pd.read_json('../../data/amazon/All_Amazon_Meta_Train_Clean.json', lines=True)
df_amazon_val = pd.read_json('../../data/amazon/All_Amazon_Meta_Val_Clean.json', lines=True)
df_amazon_test = pd.read_json('../../data/amazon/All_Amazon_Meta_Test_Clean.json', lines=True)

In [20]:
df_amazon_train['cat_split'] = 'train'
df_amazon_val['cat_split'] = 'val'
df_amazon_test['cat_split'] = 'test'

In [21]:
df_amazon_concat = pd.concat([ 
    df_amazon_train,
    df_amazon_val, 
    df_amazon_test
])

In [32]:
df_amazon_cat_merge = df_amazon_concat[['title', 'category', 'cat_split']].merge(df_task_1_large.rename(columns={'product_title': 'title'}), on='title', how='right')

In [41]:
df_amazon_cat_merge = df_amazon_cat_merge.where(pd.notnull(df_amazon_cat_merge), None)

In [42]:
len(df_amazon_cat_merge), len(df_task_1_large)

(2621288, 2621288)

In [44]:
Counter(df_amazon_cat_merge[['cat_split', 'split']].to_records(index=False).tolist())

Counter({(None, 'train'): 1912138,
         ('train', 'train'): 70374,
         (None, 'test'): 616150,
         ('train', 'test'): 21639,
         ('test', 'test'): 111,
         ('val', 'train'): 382,
         ('test', 'train'): 378,
         ('val', 'test'): 116})

In [47]:
df_amazon_cat_merge_clean = df_amazon_cat_merge[~(((df_amazon_cat_merge.cat_split == 'test') & (df_amazon_cat_merge.split == 'train')) | \
    ((df_amazon_cat_merge.split == 'test') & (df_amazon_cat_merge.cat_split == 'train')) | \
    ((df_amazon_cat_merge.split == 'test') & (df_amazon_cat_merge.cat_split == 'val'))
)]

In [49]:
len(df_amazon_cat_merge_clean) / len(df_amazon_cat_merge)

0.9915564409557439

In [51]:
esci_label2gain = {
    'E' : 1.0,
    'S' : 0.1,
    'C' : 0.01,
    'I' : 0.0,
}

In [53]:
df_amazon_cat_merge_clean['labels'] = df_amazon_cat_merge_clean['esci_label'].apply(lambda x: esci_label2gain[x])

/tmp/ipykernel_25003/530606553.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_amazon_cat_merge_clean['labels'] = df_amazon_cat_merge_clean['esci_label'].apply(lambda x: esci_label2gain[x])

In [58]:
df_amazon_cat_merge_clean_simple = df_amazon_cat_merge_clean[['title', 'query', 'category', 'example_id', 'query_id', 'product_id', 'product_locale', 
    'esci_label', 'labels', 'small_version', 'split']]

In [60]:
df_amazon_cat_merge_clean_simple['text_input'] = df_amazon_cat_merge_clean_simple['title']
df_amazon_cat_merge_clean_simple['text_output'] = df_amazon_cat_merge_clean_simple['query']

/tmp/ipykernel_25003/3769384560.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_amazon_cat_merge_clean_simple['text_input'] = df_amazon_cat_merge_clean_simple['title']
/tmp/ipykernel_25003/3769384560.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_amazon_cat_merge_clean_simple['text_output'] = df_amazon_cat_merge_clean_simple['query']

In [62]:
Counter(df_amazon_cat_merge_clean_simple.esci_label)

Counter({'I': 259779, 'E': 1695522, 'S': 568855, 'C': 74999})

In [63]:
df_amazon_cat_merge_clean_simple.labels.mean()

0.6745105582391203

In [66]:
train = df_amazon_cat_merge_clean_simple[df_amazon_cat_merge_clean_simple.split == 'train']
train, val =  train_test_split(train, test_size=0.2, random_state=42)
test = df_amazon_cat_merge_clean_simple[df_amazon_cat_merge_clean_simple.split == 'test']

In [67]:
len(train), len(val), len(test)

(1586315, 396579, 616261)

In [ ]:
len(train), len(val), len(test)