In [1]:
import pandas as pd

In [2]:
df = pd.read_json('wish_queries_with_timestamp_3yr_all_sample_12M_headtail.json', lines=True)

In [5]:
df_tail = df[df.sample_method == 'uniform']

In [6]:
df_tail

,query,min_timestamp,max_timestamp,min_dt,max_dt,cnt,gmv,sample_method,label_ordering
2,mens summer tee,1588359626,1641584512,2020-05-02,2022-01-08,25,0.000000,uniform,2
4,strass emblemen,1581023561,1581023561,2020-02-07,2020-02-07,1,0.000000,uniform,4
6,ponytail holder tube,1582646789,1582647215,2020-02-26,2020-02-26,20,0.000000,uniform,6
7,cavi hi res a banana,1646941530,1646941657,2022-03-11,2022-03-11,8,137.012543,uniform,7
9,bügel patches kpop,1578157068,1578157068,2020-01-05,2020-01-05,1,0.000000,uniform,9
...,...,...,...,...,...,...,...,...,...
11939635,red kitchen apple,1582500672,1582500672,2020-02-24,2020-02-24,1,0.000000,uniform,11939635
11939637,men cross over bag,1578561061,1667413632,2020-01-10,2022-11-03,69,0.000000,uniform,11939637
11939639,casesack,1580874463,1657639561,2020-02-05,2022-07-13,23,0.000000,uniform,11939639
11939640,magnesio potr,1625623490,1625623490,2021-07-07,2021-07-07,1,0.000000,uniform,11939640
11939643,robe danse tangongo,1625602413,1625602413,2021-07-07,2021-07-07,1,0.000000,uniform,11939643

In [7]:
df_v3 = pd.read_json('/workspaces/multitask-llm-rnd/datasets/notebooks/quali_analysis_queryv0v2/query_classify_v3_20230315.json', lines=True)

In [9]:
df_merge = df_v3.merge(df_tail[['query']], on = 'query')

In [10]:
len(df_merge)

15865

In [12]:
df_merge_sample = df_merge.sample(1000, random_state=42)

In [15]:
df_merge_sample.to_json('wish_queries_with_timestamp_3yr_all_sample_12M_headtail_uniformtail_overlap_with_v3_sample1000.json', lines=True, orient='records')